/*========= Paleta de colores =========*/

/* Color Theme Swatches in Hex */
$Catering-for-Kids-2-1-hex: #B25D36;
$Catering-for-Kids-2-2-hex: #FFA77F;
$Catering-for-Kids-2-3-hex: #FF9666;
$Catering-for-Kids-2-4-hex: #24B2A2;
$Catering-for-Kids-2-5-hex: #66FFEE;

/* Color Theme Swatches in RGBA */
$Catering-for-Kids-2-1-rgba: rgba(177,92,54, 1);
$Catering-for-Kids-2-2-rgba: rgba(255,166,126, 1);
$Catering-for-Kids-2-3-rgba: rgba(255,149,102, 1);
$Catering-for-Kids-2-4-rgba: rgba(35,177,162, 1);
$Catering-for-Kids-2-5-rgba: rgba(102,255,237, 1);

/* Color Theme Swatches in HSLA */
$Catering-for-Kids-2-1-hsla: hsla(18, 53, 45, 1);
$Catering-for-Kids-2-2-hsla: hsla(18, 100, 74, 1);
$Catering-for-Kids-2-3-hsla: hsla(18, 100, 70, 1);
$Catering-for-Kids-2-4-hsla: hsla(173, 66, 41, 1);
$Catering-for-Kids-2-5-hsla: hsla(173, 100, 70, 1);


/* ========= Fonts ========= */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500&display=swap');



